{% extends 'base.html.twig' %}

{% block body %}

        <img src="" alt="">

    <div class="container">
        <div class="row">


    {% for json in json_data %}
        <div class="col-3 text-center">
            <img src="{{ json['poster_path'] }}" alt="">
            <br>
            {{ json['name'] }}</div>
    {% endfor %}
        </div>
    </div>

{% endblock %}
