{% extends 'base.html.twig' %}

{% block body %}

        <img src="" alt="">

    <div class="container">
        <div class="row">


    {% for value in json_data %}
        <div class="col-3 text-center">
            <img src="{{ value["poster_path"] }}" alt="">
            <br>
            {{ value["name"] }}</div>
    {% endfor %}
        </div>
    </div>


{% endblock %}
