{% extends 'base.html.twig' %}

{% block body %}
    <section class="" id="section1">
        <div class="container">
            <h1>Serial-Watchers</h1>
            <h3>Application web pour la gestion de ses séries préférées</h3>
            <p>LOGO</p>
        </div>
    </section>
    <section class="" id="section2">
        <div class="container">
            <div>
                <h2><strong>Des fonctionnalités fortes !</strong></h2>
            </div>
            <div class="feature row marge">
                <div class="featureOne col">
                    <i class="fas fa-tv"></i>
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Gestion des séries
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            Créer un compte pour suivre vos séries préférées
                        </div>
                    </div>
                </div>
                <div class="featureTwo col">
                    <i class="far fa-comments"></i>
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Espace d'échange
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            Système de commentaire pour chaque série
                        </div>
                    </div>
                </div>
                <div class="featureThree col">
                    <i class="fas fa-mobile-alt"></i>
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Application mobile
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            L'application mobile arrive bientôt sur Android et iOS
                        </div>
                    </div>
                </div>
                <div class="featureFour col">
                    <i class="fas fa-shopping-cart"></i>
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Boutique
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            Une boutique de goodies et plein d'autres produits dérivés
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section3" class="row marge">
       
    </section>
{% endblock %}
