<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!---------------------------------------META-------------------------------------------->


    <title>{% block title %}Serial-Watchers{% endblock %}</title>
    {% block stylesheets %}


        <!---------------------------------------STYLESHEET-------------------------------------------->
        <link rel="stylesheet" href="{{ asset('lib/bootstrap/bootstrap.min.css') }}">
    {% endblock %}
</head>
<body>
<!-------------------------------------------HEADER---------------------------------------------->

<header>
    <!------------------------------------ DEBUT HEADER------------------------------------------->
    <!--LOGO LIEN INDEX-------------------------------------------->
    <a class="navbar-brand" href="index.html">logo</a>

    <!----------------------------------- DEBUT  MENU ADMIN------------------------------------------>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container navbar-nav">
            <a class="navbar-brand" style="color:white">
                Admin
            </a>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            Gestion utilisateur
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            Gestion serie
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            Gestion boutique
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <!------------------------------------ FIN  MENU ADMIN-------------------------------------------->
    <!--------------------------- DEBUT MENU INTERFACE UTILISATEUR------------------------------------->


    <!--INSCRIPTION -------------------------------------------->
    <div class="navbar-collapse">
        <li class="nav-item">
            <a href="" class="nav-link">
                Inscription
            </a>
        </li>
        <!--CONNEXION-------------------------------------------->
        <li class="nav-item">
            <a href="" class="nav-link">
                Connexion
            </a>
        </li>
    </div>


    <nav class="navbar navbar-expand-lg navbar-dark default-color-dark fixed-top">
        <ul class="navbar-nav mr-auto">
            <!--PROFIL -------------------------------------------->
            <li class="nav-item active">
                <a class="nav-link" href="">Profil <span class="sr-only">(current)</span></a>
            </li>
            <!--MES SERIES -------------------------------------------->
            <li class="nav-item">
                <a class="nav-link" href="">Mes series</a>
            </li>
            <!--TOUTES LES SERIES -------------------------------------------->
            <li class="nav-item">
                <a class="nav-link" href="">Toutes les series</a>
            </li>
            <!--BOUTIQUE -------------------------------------------->
            <li class="nav-item">
                <a class="nav-link" href="">Boutique</a>
            </li>
        </ul>
    </nav>
    <!---------------------------------- FIN MENU INTERFACE UTILISATEUR------------------------------------->


    <!-------------------------------------------FIN HEADER------------------------------------------------>

</header>


<!-------------------------------------------DEBUT FOOTER------------------------------------------------>

<!-------------------------------------------FIN FOOTER------------------------------------------------>


{% block body %}{% endblock %}


<!---------------------------------------------------------------------------------------------------------->
<!-------------------------------SCRIPT JAVASCRIPT/JQUERY/BOOTSTRAP----------------------------------------->
<!---------------------------------------------------------------------------------------------------------->


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <script src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
