{% extends 'base.html.twig' %}

{% block body %}
    <h1>Appel de l'api</h1>

    <form method="post">
        <div class="form-group">
            <label for="recherche">Rechercher une série</label>
            <input type="text" name="research" class="form-control" id="recherche">
        </div>
    </form>

    <div id="resultat">
        <h2>{{ overview }}</h2>
    </div>

{% endblock %}


