{% extends 'base.html.twig' %}






    {% block body %}

        {#-------------------------------------------------------------------------------#}
        {#--------------------------------SIDEBAR PROFIL---------------------------------#}
        {#-------------------------------------------------------------------------------#}


        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            logo avatar
                        </a>
                        <p>
                            Pseudo utilisateur
                        </p>
                    </li>
                    <li>
                        <a href="#">Mon compte</a>
                    </li>
                    <li>
                        <a href="#">Tableau de Bord</a>
                    </li>
                    <li>
                        <a href="#">Mes series</a>
                    </li>

                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            {#-------------------------------------------------------------------------------#}
            {#-----------------------------PAGE CONTENT PROFIL-------------------------------#}
            {#-------------------------------------------------------------------------------#}
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <!-- /#page-content-Mes Favoris/Mes playlists -->
                    <div class="row">
                        <!-- /#page-content-Mes Favoris -->
                        <div class="col-6">

                        </div>
                        <!-- /#page-content-Mes playslists -->
                        <div class="col-6">

                        </div>
                    </div>


                    <!-- /#page-content- -->
                    <div class="row">
                        <!-- /#page-content-tableau de bord -->
                        <div class="col-6">

                        </div>
                        <!-- /#page-content-Mon agenda -->
                        <div class="col-6">

                        </div>
                    </div>



                    <h1>Simple Sidebar</h1>
                    <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                    <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->


        {#-------------------------------------------------------------------------------#}
        {#---------------------------SCRIPT JAVASCRIPT/JQUERY ---------------------------#}
        {#-------------------------------------------------------------------------------#}




    {#******************FIN JAVASCRIPT *************************#}


{% endblock %}
   {% block javascripts %}
        {{ parent() }}
       <!-- Menu Toggle Script -->
       <script>
           $("#menu-toggle").click(function(e) {
               e.preventDefault();
               $("#wrapper").toggleClass("toggled");
           });
       </script>


   {% endblock %}