{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}



    {#********************** DEBUT SIDE BAR CONNECTION UTILISATEUR*********************#}



    {#********************** FIN SIDE BAR CONNECTION UTILISATEUR*********************#}


    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <!-- avatar de l'utilisateur -->
                <a href="#">
                    Pseudo de l'utilisateur
                </a>
            </li>
            <li>
                <a href="#">Connexion</a>
            </li>
            <li>
                <a href="#">Mon compte</a>
            </li>
            <li>
                <a href="#">Mes series</a>
            </li>

        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!--************************************************************************ -->
    <!--************************************************************************ -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <!--******** DEBUT BLOC "mes listes" ******** -->
                <div class="col-6">
                    <!--lien vers ma liste -->
                    <div class="card" id="nameliste">
                        <!--image de la liste -->
                        <img>
                        <!--lien vers ma liste -->
                        <a></a>
                    </div>
                </div>
                <!--******** FIN BLOC "mes listes" ******** -->
                <!--******** DEBUT BLOC "mes listes" ******** -->
                <div class="col-6">
                    <!--lien vers ma liste -->
                    <div class="card" id="nameliste">
                        <!--image de la liste -->
                        <img>
                        <!--lien vers ma liste -->
                        <a></a>
                    </div>
                </div>
                <!--******** FIN BLOC "mes listes" ******** -->

            </div>

            <!--************************************************************************ -->
            <!--************************************************************************ -->

            <div class="row">
                <!--******** DEBUT BLOC "Fil d'actualités" ******** -->
                <div class="col-6">


                </div>
                <!--******** FIN BLOC "fil d'actualités" ******** -->


                <!--******** DEBUT BLOC "Agenda" ******** -->
                <div class="col-6">
                    <!--lien vers ma liste -->

                </div>
                <!--******** FIN BLOC "Agenda" ******** -->

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    <!--************************************************************************ -->
    <!--************************************************************************ -->

    </div>
    <!-- /#wrapper -->



{% endblock %}
